@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "modules/_wrapper";
@import "modules/_loader";
@import "modules/_header";
@import "modules/_banner";
@import "modules/_logo-section";
@import "modules/_animation";
@import "modules/_child-companies";
@import "modules/_slider";
@import "modules/_why-us";
@import "modules/_about";
@import "modules/_top-sec";
@import "modules/_services";
@import "modules/_events";
@import "modules/_contact";
@import "modules/_footer";
@import "aos/dist/aos.css";