.logo-section {
    display: flex;
    align-content: center;
    justify-content: center;
    @mixin atMedium {
        justify-content: space-between;
    }
    background: url('./assets/images/bg2.jpg') no-repeat center;
    background-size: cover;

    div {
        width: 250px;
        height: auto;
        padding: 1rem;
    }
}

.centered {
    justify-content: center;
}