.slider-sec {
    background: linear-gradient(40deg, #cea836, $black, $black, #cea836);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @mixin forSmall {
        padding: 0;
    }
    @mixin atMedium {
        padding-block: 6rem;
        padding-inline: 6rem;
    }

    img {
        @mixin atMedium {
            width: 70vw;
        }        
    }
}